<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi ="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo = "http://dubbo.apache.org/schema/dubbo"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans  http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
       http://dubbo.apache.org/schema/dubbo  http://dubbo.apache.org/schema/dubbo/dubbo.xsd" >
    <!-- 提供方应用信息，用于计算依赖关系 -->
    <dubbo:application name="Dubbo-REST-Client">
        <!-- 本机测试，22222被服务端占用，客户端端口要修改，否则启动时报错 -->
        <dubbo:parameter key="qos.port" value="22223"/>
    </dubbo:application>
    <!-- 配置 Dubbo Annotation 包范围-->
    <dubbo:annotation package="org.langke.dubbo.rest.client"/>
    <dubbo:registry address="nacos://localhost:8848" />
    <!-- 用rest协议在18080端口暴露服务 , 使用外部的tomcat作为服务容器-->
    <dubbo:protocol name="rest" port="8081" server="tomcat"/>
</beans>