<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi ="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo = "http://dubbo.apache.org/schema/dubbo"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans  http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
       http://dubbo.apache.org/schema/dubbo  http://dubbo.apache.org/schema/dubbo/dubbo.xsd" >
    <!-- 提供方应用信息，用于计算依赖关系 -->
    <dubbo:application name="Dubbo-REST-Service">
        <dubbo:parameter key="qos.port" value="22222"/>
    </dubbo:application>
    <!-- 配置 Dubbo Annotation 包范围-->
    <dubbo:annotation package="org.langke.dubbo.rest.service"/>
    <dubbo:registry address="nacos://localhost:8848" />
    <!-- 使用zookeeper 作为服务注册中心地址
    <dubbo:registry address="zookeeper://127.0.0.1:2181" /> -->
    <!-- 用rest协议在18080端口暴露服务 , 使用外部的tomcat作为服务容器-->
    <dubbo:protocol name="rest" port="8080" server="tomcat"/>
    <!-- Dubbo 允许配置多协议，在不同服务上支持不同协议或者同一服务上同时支持多种协议 -->
    <dubbo:protocol name="dubbo" port="20880"/>
    <!--
     No Spring Bean annotating Dubbo's @Service was found under package
    在实现类上注解：@org.apache.dubbo.config.annotation.Service
     -->
    <!--<bean id="userService" class="org.langke.dubbo.rest.clientUserServiceImpl"></bean>
    <dubbo:service interface="org.langke.dubbo.rest.clientUserService" ref="userService"></dubbo:service>-->
</beans>